<h1 class="title">Appointments</h1>

<%= link_to 'Setup Appointment', new_lead_appointment_path(@lead,@appointment) %>
<%= link_to 'Back', lead_url(@lead) %>



<% @lead.appointments.each do |appointment| %>
  <div class="appointment-index-container">

    <p>
       <%= appointment.date.strftime("%A %B %d, %Y") %> <br />
       <%= appointment.time.strftime("%l:%M %p")%>
    </p>

  <%= link_to 'Show', lead_appointment_path(@lead,appointment) %>
  </div>
<% end %>
