<!DOCTYPE html>
<html>
  <head>
    <title>CRM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <h2>CRM</h2>
      <div class="header">
        <span class="header-links"><%= link_to 'Leads', leads_path %></span>
        <span class="header-links"><%= link_to 'Create Lead', new_lead_path %></span>
        <span class="header-links"><%= link_to 'Accounts', accounts_path %></span>
        <span class="header-links"><%= link_to 'Create Account', new_account_path %></span>
      </div>
    </header>
  <%= yield %>

  <footer>
    <h2> &copy; 2017</h2>
  </footer>
  </body>
</html>
